@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: local(''),
   url('./Assets/fonts/open-sans-v20-latin-regular.woff2') format('woff2'), 
   url('./Assets/fonts/open-sans-v20-latin-regular.woff') format('woff'); 
}

@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: local(''),
   url('./Assets/fonts/open-sans-v20-latin-700.woff2') format('woff2'), 
   url('./Assets/fonts/open-sans-v20-latin-700.woff') format('woff'); 
}

*,
*::before,
*::after {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   padding-top: 54px;
   font-family: 'Open Sans', 'sans-serif';
   font-size: 16px;
   line-height: 1.5;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

img {
   vertical-align: middle;
}

.container {
   width: 1240px;
   margin: 0 auto;
   padding: 0 20px;
}